body {
    background-color:gray;
}

.grid-item{
    margin:0 auto;
    margin-top:10px;
}
.grid-container{
    grid-template-columns: 200px 200px;
    grid-auto-rows:minmax (150px, auto);
    grid-gap:10px;
    background-color:aquamarine;
}

.grid-item-1{
    background-color:lightblue;
    height:200px;
    width:200px;
    outline: 3px solid black;
    transition: box-shadow 0.5s;
}

.grid-item-2{
    background-color:blueviolet;
    height:200px;
    width:200px;
    outline: 3px solid black;
}

.grid-item-3{
    background-color:pink;
    height:200px;
    width:200px;
    outline: 3px solid black;
}

.grid-item-4{
    background-color:violet;
    height:200px;
    width:200px;
    outline: 3px solid black;
}

.grid-item-1:hover{
    box-shadow: 0 5px 20px black;
}